{% trans_default_domain 'mosparo' %}

{{ value }}

{% if row.numberOfDeletedSubmitTokens %}
    <span class="status status-red" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'tooltip.deleted'|trans }}">
        -{{ row.numberOfDeletedSubmitTokens }}
    </span>
{% endif %}