{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'security.title.noAccess'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
<div class="container-tight pb-4">
    <div class="row">
        <div class="col text-center">
            <img src="{{ asset('build/images/icons/no-access.svg') }}" class="w-50 mb-5" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-important alert-danger text-center">
                {{ 'security.title.noAccess'|trans }}
            </div>
        </div>
    </div>
</div>
{% endblock %}