{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'security.notFound.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block body %}
<div class="page page-center">
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/404.svg')|add_path_prefix }}" class="mb-5 illustration-detail" alt="" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="alert alert-important alert-danger text-center">
                    {{ 'security.notFound.title'|trans }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}