doctrine:
    dbal:
        override_url: true
        url: '%env(resolve:DATABASE_URL)%'

        types:
            encrypted: 'Gracious\DoctrineEncryptionBundle\Type\Encrypted'
            encryptedJson: 'Mosparo\Doctrine\Type\EncryptedJson'
            encryptedArrayCollection: 'Gracious\DoctrineEncryptionBundle\Type\EncryptedArrayCollection'
            hashed: 'Gracious\DoctrineEncryptionBundle\Type\Hashed'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'Mosparo\Entity'
                alias: Mosparo

        filters:
            project_related_filter: Mosparo\Doctrine\ProjectRelatedFilter

