<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /

    RewriteRule ^build(.*)$ public/build/$1 [L]
    RewriteRule ^bundles(.*)$ public/bundles/$1 [L]
    RewriteRule ^resources(.*)$ public/resources/$1 [L]
    RewriteRule ^update-log(.*)$ public/update-log/$1 [L]

    RewriteRule ^robots.txt$ public/robots.txt [L]

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
