{% trans_default_domain 'mosparo' %}

<div class="d-flex action-buttons-list">
    <a href="{{ path('administration_user_edit', { 'id': row.id}) }}" class="btn btn-primary me-2">
        <i class="ti ti-pencil"></i>
        {{ 'action.edit'|trans }}
    </a>
    {% if app.user != row %}
        <a href="{{ path('administration_user_delete', { 'id': row.id}) }}" class="btn btn-danger">
            <i class="ti ti-circle-minus"></i>
            {{ 'action.delete'|trans }}
        </a>
    {% endif %}
</div>