{% trans_default_domain 'mosparo' %}

{% if 'ROLE_ADMIN' in value %}
    <span class="status status-pink">{{ 'roles.administrator'|trans }}</span>
{% elseif 'ROLE_USER' in value %}
    <span class="status status-teal">{{ 'roles.user'|trans }}</span>
{% else %}
    <span class="status">{{ 'roles.inactive'|trans }}</span>
{% endif %}