{% trans_default_domain 'mosparo' %}

<div class="d-flex action-buttons-list">
    <a href="{{ path('project_switch', { project: row.id }) }}" class="btn btn-secondary me-2">
        <i class="ti ti-folder"></i>
        {{ 'project.action.goto'|trans }}
    </a>
    {% if can_user_manage_project(row) %}
        <div class="dropdown">
            <button type="button" class="btn btn-ghost-white btn-icon-only dropdown-toggle" data-bs-toggle="dropdown">
                <i class="ti ti-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="{{ path('project_delete', { project: row.id }) }}" class="dropdown-item text-red">
                    <i class="ti ti-circle-minus"></i>
                    {{ 'project.action.delete'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
</div>