{% trans_default_domain 'mosparo' %}

<div class="d-flex action-buttons-list">
    <a href="{{ path('settings_security_guideline_edit', { '_projectId': activeProject.id, 'id': row.id}) }}" class="btn btn-primary me-2">
        <i class="ti ti-pencil"></i>
        {{ 'action.edit'|trans }}
    </a>
    <a href="{{ path('settings_security_guideline_remove', { '_projectId': activeProject.id, 'id': row.id}) }}" class="btn btn-danger">
        <i class="ti ti-circle-minus"></i>
        {{ 'action.remove'|trans }}
    </a>
</div>