.mosparo__container {
    border: var(--mosparo-border-width, 3px) solid var(--mosparo-border-color, rgb(0, 0, 0));
    background: var(--mosparo-background-color, rgb(255, 255, 255));
    padding: var(--mosparo-padding-top, 20px) var(--mosparo-padding-right, 20px) var(--mosparo-padding-bottom, 20px) var(--mosparo-padding-left, 24px);
    border-radius: var(--mosparo-border-radius, 11px);

    box-shadow: 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-shadow-color, rgba(170, 170, 170, 0.3)), inset 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-shadow-inset-color, transparent);

    &,
    .mosparo__label,
    .mosparo__error-message {
        font-size: var(--mosparo-font-size, 16px);
        line-height: var(--mosparo-line-height, 22px);
    }

    &,
    .mosparo__label, {
        color: var(--mosparo-text-color, rgb(0, 0, 0));
        font-weight: normal;
    }

    min-width: var(--mosparo-container-min-width, 300px);
    max-width: var(--mosparo-container-max-width, 500px);

    display: flex;
    position: relative;

    user-select: none;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .mosparo__row {
        display: flex;
        align-items: center;
    }

    .mosparo__checkbox_column {
        position: relative;
        margin-right: var(--mosparo-circle-margin-right, 20px);

        input[type="checkbox"] {
            opacity: 0;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        .mosparo__checkbox {
            flex: 0 0 var(--mosparo-circle-size, 40px);

            display: flex;
            align-items: center;
            justify-content: center;

            border: var(--mosparo-circle-border-width, 3px) solid var(--mosparo-circle-border-color, rgb(0, 0, 0));
            border-radius: var(--mosparo-circle-radius, 20px);

            position: relative;

            width: var(--mosparo-circle-size, 40px);
            height: var(--mosparo-circle-size, 40px);

            cursor: pointer;

            transition: all 0.25s;

            &:before,
            &:after {
                content: '';

                display: block;
                width: var(--mosparo-circle-size, 40px);
                height: var(--mosparo-circle-size, 40px);

                position: absolute;
                top: var(--mosparo-circle-offset, -3px);
                left: var(--mosparo-circle-offset, -3px);

                border-radius: var(--mosparo-circle-radius, 20px);
            }

            &:before {
                border: 1px solid var(--mosparo-circle-border-color, rgb(0, 0, 0));

                transform: scale(1);

                transform-origin: center;
                animation-iteration-count: infinite;
                animation-duration: 3s;

                opacity: 0;
            }

            &:after {
                border: var(--mosparo-circle-border-width, 3px) solid transparent;
                border-left-color: var(--mosparo-loading-circle-animated-border-color, rgb(0, 0, 255));

                opacity: 0;

                transition: all 0.25s;
            }

            .mosparo__icon-checkmark,
            .mosparo__icon-failure {
                display: none;
            }
        }
    }

    .mosparo__content_column {
        .mosparo__label {
            margin: 0;
            cursor: pointer;
        }
    }

    &:after {
        content: '';
        display: none;

        position: absolute;
        left: var(--mosparo-logo-left, 10px);
        bottom: var(--mosparo-logo-bottom, 5px);

        width: var(--mosparo-logo-width, 70px);
        height: var(--mosparo-logo-height, 15px);

        z-index: 0;
    }

    &:not(.mosparo__checked):not(.mosparo__invalid).mosparo__focus,
    &:not(.mosparo__checked):not(.mosparo__invalid):hover {
        &:after {
            display: var(--mosparo-show-logo, block);
            background: url('../images/mosparo_text_logo.svg') no-repeat center;
        }
    }

    &.mosparo__loading {
        .mosparo__checkbox_column {
            .mosparo__checkbox {
                border-color: var(--mosparo-loading-circle-border-color, transparent);
                border-radius: var(--mosparo-circle-radius, 20px);

                &:after {
                    opacity: 1;

                    animation: mosparo__loading-animation 1s linear infinite;
                }
            }
        }
    }

    &.mosparo__checked {
        border-color: var(--mosparo-success-border-color, rgb(0, 0, 0));
        background: var(--mosparo-success-background-color, rgb(255, 255, 255));
        box-shadow: 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-success-shadow-color, rgba(170, 170, 170, 0.3)), inset 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-success-shadow-inset-color, transparent);

        &,
        .mosparo__label, {
            color: var(--mosparo-success-text-color, rgb(0, 0, 0));
        }

        .mosparo__checkbox_column {
            .mosparo__checkbox {
                border-color: var(--mosparo-success-circle-border-color, rgb(0, 170, 0));

                .mosparo__icon-checkmark {
                    display: block;
                    width: var(--mosparo-circle-radius, 20px);
                    height: var(--mosparo-checkmark-icon-height, 10px);

                    margin-top: -4px;

                    transform: rotate(-45deg);

                    &:before {
                        content: '';

                        display: block;
                        width: 100%;
                        height: 100%;

                        border-style: solid;
                        border-color: var(--mosparo-success-circle-border-color, rgb(0, 170, 0));
                        border-width: 0 0 var(--mosparo-icon-border-width, 2px) var(--mosparo-icon-border-width, 2px);
                    }
                }
            }
        }
    }

    &.mosparo__invalid {
        border-color: var(--mosparo-failure-border-color, rgb(0, 0, 0));
        background: var(--mosparo-failure-background-color, rgb(255, 255, 255));
        box-shadow: 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-failure-shadow-color, rgba(170, 170, 170, 0.3)), inset 0 0 var(--mosparo-shadow-blur-radius, 12px) var(--mosparo-shadow-spread-radius, 3px) var(--mosparo-failure-shadow-inset-color, transparent);

        &,
        .mosparo__label, {
            color: var(--mosparo-failure-text-color, rgb(0, 0, 0));
        }

        .mosparo__checkbox_column {
            .mosparo__checkbox {
                border-color: var(--mosparo-failure-circle-border-color, rgb(255, 0, 0));

                .mosparo__icon-failure {
                    display: block;

                    position: relative;
                    width: var(--mosparo-circle-radius, 20px);
                    height: var(--mosparo-circle-radius, 20px);

                    transform: rotate(45deg);

                    &:before,
                    &:after {
                        content: '';

                        display: block;

                        position: absolute;
                    }

                    &:before {
                        top: 50%;
                        left: 0;

                        width: 100%;
                        height: 0;

                        margin-top: var(--mosparo-icon-border-offset, -1px);
                        border-bottom: var(--mosparo-icon-border-width, 2px) solid var(--mosparo-failure-circle-border-color, rgb(255, 0, 0));
                    }

                    &:after {
                        top: 0;
                        left: 50%;

                        width: 0;
                        height: 100%;

                        margin-left: var(--mosparo-icon-border-offset, -1px);
                        border-right: var(--mosparo-icon-border-width, 2px) solid var(--mosparo-failure-circle-border-color, rgb(255, 0, 0));
                    }
                }
            }
        }
    }

    &:not(.mosparo__checked):not(.mosparo__invalid):not(.mosparo__loading) {
        .mosparo__checkbox_column {
            .mosparo__checkbox {
                &:hover {
                    border-color: var(--mosparo-focus-circle-border-color, rgb(170, 170, 170));
                }

                &:before {
                    animation-name: var(--mosparo-ping-animation-name, mosparo__ping-animation);
                }
            }

            input[type="checkbox"]:focus + .mosparo__checkbox {
                border-color: var(--mosparo-focus-circle-border-color, rgb(170, 170, 170));
                box-shadow: 0 0 0 4px var(--mosparo-focus-circle-shadow-color, rgba(170, 170, 170, 0.3));
            }
        }
    }

    &.mosparo__checked {
        input[type="checkbox"]:focus + .mosparo__checkbox {
            box-shadow: 0 0 0 4px var(--mosparo-focus-circle-shadow-color, rgba(170, 170, 170, 0.3));
        }
    }

    &.mosparo__invalid {
        input[type="checkbox"]:focus + .mosparo__checkbox {
            box-shadow: 0 0 0 4px var(--mosparo-focus-circle-shadow-color, rgba(170, 170, 170, 0.3));
        }
    }

    .mosparo__accessible-message {
        position: absolute;

        margin: -10px;

        height: 1px;
        width: 1px;

        overflow: hidden;

        padding: 0;
        border: 0;
    }

    .mosparo__error-message {
        display: none;

        margin-top: 0.5em;

        color: var(--mosparo-failure-text-error-color, rgb(255, 0, 0));

        &.mosparo__error-message-visible {
            display: block;
        }
    }
}

[dir="rtl"] {
    .mosparo__container {
        padding-left: var(--mosparo-padding-right, 20px);
        padding-right: var(--mosparo-padding-left, 24px);

        &:after {
            left: 0;
            right: var(--mosparo-logo-left, 10px);
        }

        .mosparo__checkbox_column {
            margin-right: 0;
            margin-left: var(--mosparo-circle-margin-right, 20px);
        }
    }
}

@keyframes mosparo__ping-animation {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes mosparo__loading-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}