/* Tabler Core and Tabler Icons */
$google-font: false;
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;

$form-check-input-checked-bg-image: url('/assets/images/ui/tabler.svg#checkbox-light');
$form-check-input-checked-bg-image-dark: url('/assets/images/ui/tabler.svg#checkbox-dark');
$form-check-radio-checked-bg-image: url('/assets/images/ui/tabler.svg#radio');
$form-select-indicator: url('/assets/images/ui/tabler.svg#select');
$btn-close-bg: url('/assets/images/ui/tabler.svg#close');
$accordion-button-icon: url('/assets/images/ui/tabler.svg#accordion-normal');
$accordion-button-active-icon: url('/assets/images/ui/tabler.svg#accordion-active');

@import '~@tabler/core';
@import '~@tabler/icons-webfont/dist/tabler-icons-outline.scss';

@import '~datatables.net-responsive-bs5';
@import 'spectrum-colorpicker2/dist/spectrum.css';

/* Mosparo Core */
@import 'core/base.scss';
@import 'core/navigation.scss';
@import 'core/project.scss';
@import 'core/rule.scss';
@import 'core/submission.scss';
@import 'core/form.scss';
@import 'core/account.scss';
@import 'core/settings.scss';
@import 'core/dashboard.scss';
@import 'core/design.scss';
@import 'core/update.scss';
@import 'core/import.scss';

/* Plugins */
@import 'plugins/datatable.scss';
@import 'plugins/spectrum.scss';

