{% extends 'form/mosparo_form.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block collection_additional_add_button %}
    <div class="col">
        {% if not form.vars.disabled %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-multiple-items-modal">
                <i class="ti ti-square-plus"></i>
                {{ 'form.addMultipleItems'|trans }}
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block _rule_form_items_entry_widget %}
    {% for field in form %}
        {{ form_widget(field) }}
    {% endfor %}
{% endblock %}