{% extends 'form/mosparo_form.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block collection_additional_add_button %}
    <div class="col-12 col-md">
        {% if not form.vars.disabled %}
            <button type="button" class="btn btn-secondary w-100 mb-2 m-md-0" data-bs-toggle="modal" data-bs-target="#add-multiple-items-modal">
                <i class="ti ti-square-plus"></i>
                {{ 'form.addMultipleItems'|trans }}
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block _rule_form_items_entry_widget %}
    {% for field in form %}
        {{ form_widget(field) }}
    {% endfor %}
{% endblock %}

{% block _rule_form_items_entry_errors %}
    <div class="error-container">
        {% for field in form %}
            {% if 'rule-item-type' in field.vars.attr.class %}
                {% set class = 'rule-item-type' %}
            {% elseif 'rule-item-value' in field.vars.attr.class %}
                {% set class = 'rule-item-value' %}
            {% elseif 'rule-item-rating' in field.vars.attr.class %}
                {% set class = 'rule-item-rating' %}
            {% endif %}

            <div class="form-field {{ class }}">
                {{ form_errors(field) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}