.card-table {
    max-width: 100%;

    &.dataTable {
        tr td:last-child,
        tr th:last-child {
            padding-right: 0.5rem;
        }
    }
}

.project-dropdown-toggle {
    &:after {
        margin-left: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    .project-dropdown-toggle {
        width: 2.25rem;
        height: 2.25rem;

        padding: 0;

        justify-content: center;
        align-items: center;

        i {
            margin-right: 0 !important;
        }

        .project-name {
            display: none;
        }

        &:after {
            display: none;
        }
    }
}
