.card-table {
    max-width: 100%;

    &.dataTable {
        tr td:last-child,
        tr th:last-child {
            padding-right: 0.5rem;
        }
    }
}

.project-navbar {
    > .container-xl {
        align-items: stretch;

        .project-dropdown-toggle {
            flex: 1;

            border-radius: 0;

            margin-top: -5px;
            margin-bottom: -4px;

            transition: none;

            .project-name {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:after {
                margin-left: 0.8em;
            }
        }
    }
}

.illustration-light {
    display: inline-block;
}

.illustration-dark {
    display: none;
}

.theme-dark {
    .mosparo-logo-container {
        filter: brightness(0) invert(1);
    }

    .illustration-light {
        display: none;
    }

    .illustration-dark {
        display: inline-block;
    }
}

.empty-subtitle {
    flex: 1 0;
}

pre {
    white-space: pre-wrap;

    background: #fdfdfe;
    color: unset;
    border: 1px solid rgba(98,105,118,.16);
}

.theme-dark {
    pre {
        background: var(--tblr-bg-surface-dark);
        color: var(--tblr-light);
        border-radius: var(--tblr-border-radius);
    }

    .dropdown-menu {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }

    /**
     * Autofill styles for WebKit browsers
     */
    .form-control:-webkit-autofill,
    .form-control:-webkit-autofill:hover,
    .form-control:-webkit-autofill:focus,
    .form-control:-webkit-autofill:active {
        color: #ffffff !important;
        -webkit-text-fill-color: #fff !important;
    }

    .text-muted {
        color: rgb(125, 134, 154) !important;
    }
}

@media screen and (max-width: 768px) {
    .project-navbar {
        > .container-xl {
            .navbar-nav {
                max-width: 100%;
            }

            .project-dropdown-toggle {
                height: 2.25rem;

                justify-content: center;
                align-items: center;

                margin-bottom: 0;

                .project-name {
                    max-width: unset;
                }
            }

            .project-dropdown-menu {
                .dropdown-item {
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                }
            }
        }
    }

    .btn {
        &.add-button {
            .ti:not(.ti-icon-right) {
                margin-right: 0;
            }

            span {
                display: none;
            }
        }

        &.w-100 {
            white-space: normal;
        }
    }
}
