.card-table {
    max-width: 100%;

    &.dataTable {
        tr td:last-child,
        tr th:last-child {
            padding-right: 0.5rem;
        }
    }
}

.table {
    .table:last-child {
        margin-bottom: 0;
    }
}

.project-navbar {
    > .container-xl {
        align-items: stretch;

        .project-dropdown-toggle {
            flex: 1;

            border-radius: 0;

            margin-top: -5px;
            margin-bottom: -4px;

            transition: none;

            .project-name {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:after {
                margin-left: 0.8em;
            }
        }
    }
}

.project-dropdown-menu {
    width: 21.25rem;
    overflow: hidden;
    padding: 0;

    .project-name {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .project-dropdown-top-part,
    .project-dropdown-bottom-part {
        position: relative;
        z-index: 10;

        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }
}

.dropdown-projects-list {
    .project-group-tree {
        max-height: 18rem;

        overflow-y: auto;

        border-radius: 0;
        border-width: 0;
    }

    .active-project {
        font-weight: bold;
    }

    .dropdown-item.focus {
        color: var(--tblr-dropdown-link-hover-color);
        background-color: var(--tblr-dropdown-link-hover-bg);
    }
}

.dropdown-item-with-input {
    padding: 0;

    input,
    .input-group-text {
        border: none;
    }

    .input-group-flat:focus-within {
        box-shadow: none;
    }

    .input-group-text + input {
        padding-left: 0;
    }
}

.illustration-list {
    height: 8rem;
}

svg.illustration-list {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.illustration-detail {
    height: 192px;
}

.small-mosparo-logo {
    height: 44px;
}

[data-bs-theme=dark],
body[data-bs-theme=dark] [data-bs-theme=light] {
    .illustration-list {
        stroke: #dce1e7 !important;
    }

    .mosparo-logo-container {
        filter: brightness(0) invert(1);
    }

    .project-dropdown-menu {
        .project-dropdown-top-part,
        .project-dropdown-bottom-part {
            box-shadow: 0 0 7px 0 #000000;
        }
    }
}

.empty-subtitle {
    flex: 1 0;
}

pre {
    white-space: pre-wrap;

    background: #fdfdfe;
    color: unset;
    border: 1px solid rgba(98,105,118,.16);
}

.informative-tooltip-icon {
    font-size: 1.5rem;
    margin: 0 0.25rem;
    cursor: help;

    color: rgb(var(--tblr-info-rgb));
}

.informative-tooltip {
    cursor: help;
}

.flex-1 {
    flex: 1;
}

[data-bs-theme=dark],
body[data-bs-theme=dark] [data-bs-theme=light] {
    pre {
        background: var(--tblr-bg-surface-dark);
        color: var(--tblr-light);
        border-radius: var(--tblr-border-radius);
    }

    .dropdown-menu {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }

    /**
     * Autofill styles for WebKit browsers
     */
    .form-control:-webkit-autofill,
    .form-control:-webkit-autofill:hover,
    .form-control:-webkit-autofill:focus,
    .form-control:-webkit-autofill:active {
        color: #ffffff !important;
        -webkit-text-fill-color: #fff !important;
    }

    .text-muted {
        color: rgb(125, 134, 154) !important;
    }
}

.table-sort:hover,
.table-sort.asc,
.table-sort.desc {
    color: var(--tblr-body-color);
}

@media screen and (max-width: 768px) {
    .project-navbar {
        > .container-xl {
            .navbar-nav {
                max-width: 100%;
            }

            .project-dropdown-toggle {
                height: 2.25rem;

                justify-content: center;
                align-items: center;

                margin-bottom: 0;

                .project-name {
                    max-width: unset;
                }
            }

            .project-dropdown-menu {
                .dropdown-item {
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                }
            }
        }
    }

    .btn {
        &.add-button,
        &.hide-text {
            .ti:not(.ti-icon-right) {
                margin-right: 0;
            }

            span {
                display: none;
            }
        }

        &.w-100 {
            white-space: normal;
        }
    }

    .visually-hidden-mobile-only {
        position: absolute;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }

    .w-mobile-100 {
        width: 100%;
    }
}
