.card-table {
    max-width: 100%;

    &.dataTable {
        tr td:last-child,
        tr th:last-child {
            padding-right: 0.5rem;
        }
    }
}

.project-navbar {
    > .container-xl {
        align-items: stretch;

        .project-dropdown-toggle {
            flex: 1;

            border-radius: 0;

            margin-top: -5px;
            margin-bottom: -4px;

            transition: none;

            .project-name {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:after {
                margin-left: 0.8em;
            }
        }
    }
}

.empty-subtitle {
    flex: 1 0;
}

@media screen and (max-width: 768px) {
    .project-navbar {
        > .container-xl {
            .navbar-nav {
                max-width: 100%;
            }

            .project-dropdown-toggle {
                height: 2.25rem;

                justify-content: center;
                align-items: center;

                margin-bottom: 0;

                .project-name {
                    max-width: unset;
                }
            }

            .project-dropdown-menu {
                .dropdown-item {
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                }
            }
        }
    }

    .btn {
        &.add-button {
            .ti:not(.ti-icon-right) {
                margin-right: 0;
            }

            span {
                display: none;
            }
        }

        &.w-100 {
            white-space: normal;
        }
    }
}
