.mosparo__container {
    &.mosparo__design-mode {
        &:not(.mosparo__checked):not(.mosparo__invalid):not(.mosparo__focus):hover {
            &:after {
                display: none;
            }
        }

        &.mosparo__focus,
        &.mosparo__focus:hover {
            input[type="checkbox"] + .mosparo__checkbox {
                border-color: var(--mosparo-focus-circle-border-color, #AAA);
                box-shadow: 0 0 0 4px var(--mosparo-focus-circle-shadow-color, rgba(170, 170, 170, 0.3));
            }

            &:after {
                display: var(--mosparo-show-logo, block);

                -webkit-mask: url('../../images/mosparo_text_logo.svg') no-repeat center;
                mask: url('../../images/mosparo_text_logo.svg') no-repeat center;

                background: var(--mosparo-text-color, #000);
            }
        }
    }
}

.cr-accordion {
    .cra-title {
        flex: 1 0 auto;
    }

    .cra-value {
        text-align: right;
        margin-right: 1rem;
    }

    .cra-table-value {
        font-weight: bold;
    }

    @media only screen and (max-width: 500px) {
        .accordion-button {
            padding: 0.875rem;
        }

        .cra-value {
            margin-right: 0.5rem;
        }
    }
}

.message-box {
    &.bg-azure-lt {
        border: 1px solid #4299e1;
        border-radius: 5px;
    }
}