.mosparo__container {
    &.mosparo__design-mode {
        &:not(.mosparo__checked):not(.mosparo__invalid):not(.mosparo__focus):hover {
            &:after {
                display: none;
            }
        }

        &:not(.mosparo__checked):not(.mosparo__invalid).mosparo__focus,
        &:not(.mosparo__checked):not(.mosparo__invalid).mosparo__focus:hover {
            input[type="checkbox"] + .mosparo__checkbox {
                border-color: var(--mosparo-focus-circle-border-color, #AAA);
                box-shadow: 0 0 0 4px var(--mosparo-focus-circle-shadow-color, rgba(170, 170, 170, 0.3));
            }
        }
    }
}

.design-mode-page-container {
    background: var(--page-body-background, #FFFFFF);
    border-radius: 5px;

    padding: 1.75rem;

    @media only screen and (max-width: 1199px) {
        & {
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (max-width: 500px) {
        & {
            padding: 0;
            margin: 0 -1.5rem;
            border-radius: 0;

            .design-mode-inner-page-container {
                overflow-x: auto;
                padding: 1.75rem;
            }
        }

        &.simple-design-mode {
            margin: -0.5rem -1rem;
            border-radius: 5px;
        }
    }
}

.cr-accordion {
    .cra-title {
        flex: 1 0 auto;
    }

    .cra-value {
        text-align: right;
        margin-right: 1rem;
    }

    .cra-table-value {
        font-weight: bold;
    }

    @media only screen and (max-width: 500px) {
        .accordion-button {
            padding: 0.875rem;
        }

        .cra-value {
            margin-right: 0.5rem;
        }
    }
}

.message-box {
    &.bg-azure-lt {
        border: 1px solid #4299e1;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .sp-container {
        flex-direction: column-reverse;

        .sp-palette .sp-thumb-el {
            width: 19px;
            height: 19px;
        }
    }
}