.form-group {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    legend.form-label:first-child {
        padding-top: 0;
    }

    &:last-child {
        .form-check {
            margin-bottom: 0;
        }
    }
}

.btn .ti {
    font-size: 1.3rem;

    margin-top: -1px;

    &:not(.ti-icon-right) {
        margin-right: 0.25em;
    }

    &.ti-icon-right {
        margin-left: 0.25em;
    }
}

.btn.btn-icon-only {
    &:not(.dropdown-toggle) {
        .ti {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
    }

    &.dropdown-toggle {
        .ti {
            margin-left: -0.5rem;
        }
    }
}

.btn.btn-icon-sm {
    .ti:not(.ti-icon-right) {
        margin-right: 0;
    }
}

.collection-widget {
    ul {
        list-style-type: none;

        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

textarea.form-control {
    min-height: 150px;
}

form .colorpicker-container {
    margin-bottom: 0;
}

.form-text {
    display: block;
}

.input-group > .input-group {
    z-index: 5;
}

.input-group-text {
    .link-secondary:hover,
    .link-secondary:focus {
        text-decoration: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-control,
.form-select {
    &.field-edited {
        background: rgba(var(--tblr-warning-rgb), 0.15);
    }
}

textarea.ip-address-field {
    font-family: monospace;
}

.project-group-tree {
    display: block;

    border: 1px solid var(--tblr-border-color);
    border-radius: 4px;

    &,
    ul {
        list-style-type: none;
        padding: 0;
    }

    .project-group-node {
        .project-group-node-root {
            background: var(--tblr-body-bg);
            border-bottom: 1px solid var(--tblr-border-color);
        }

        .project-group-node-root,
        .project-group-node-header {
            padding: 0.25rem 0.75rem;

            display: flex;
            align-items: center;

            .project-group-node-icon {
                width: 2rem;

                flex: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                .ti {
                    font-size: 1.25rem;
                    height: 1.25rem;
                    display: block;
                }
            }

            .clickable {
                cursor: pointer;
            }

            .project-group-node-label {
                padding: 0.325rem 0.5rem;

                flex: 1;

                display: flex;
                align-items: center;
            }
        }

        .project-group-node-children.project-group-node-root-children {
            overflow-y: auto;
            max-height: 400px;
        }

        .project-group-node-children:not(.project-group-node-root-children) {
            margin-left: 2.5rem;

            position: relative;

            display: none;

            &:before {
                content: '';
                display: block;

                width: 2px;

                position: absolute;
                top: 0;
                left: -1.2rem;
                bottom: 0.25rem;

                background: var(--tblr-border-color);
            }
        }

        &.open {
            & > .project-group-node-children {
                display: block;
            }

            & > .project-group-node-header {
                .project-group-node-icon.clickable {
                    transform: rotateZ(90deg);
                }
            }
        }

        .form-check {
            margin-bottom: 0;

            .active-group + label {
                font-weight: bold;
            }
        }

        .project-group-node-info {
            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--tblr-info-bg-subtle);
            color: var(--tblr-table-color);

            padding: 0.625rem;

            i {
                font-size: 1.25rem;
                margin-right: 0.25rem;
            }
        }

        a {
            text-decoration: none;
            color: var(--tblr-dropdown-link-color);
        }
    }
}

.project-group-node-header:hover:not(.text-muted),
.project-group-node.focus > .project-group-node-header:not(.text-muted) {
    color: var(--tblr-dropdown-link-hover-color);
    background-color: var(--tblr-dropdown-link-hover-bg);
}

[data-bs-theme=dark],
body[data-bs-theme=dark] [data-bs-theme=light] {
    .form-select {
        --tblr-form-select-bg-img: #{$form-select-indicator};
    }
}

[data-bs-theme=dark] .accordion-button::after {
    --tblr-accordion-btn-icon: #{$accordion-button-icon-dark};
    --tblr-accordion-btn-active-icon: #{$accordion-button-active-icon-dark};
}