.form-group {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    legend.form-label:first-child {
        padding-top: 0;
    }

    &:last-child {
        .form-check {
            margin-bottom: 0;
        }
    }
}

.btn .ti {
    font-size: 1.3rem;

    margin-top: -1px;

    &:not(.ti-icon-right) {
        margin-right: 0.25em;
    }

    &.ti-icon-right {
        margin-left: 0.25em;
    }
}

.btn.btn-icon-only {
    &:not(.dropdown-toggle) {
        .ti {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
    }

    &.dropdown-toggle {
        .ti {
            margin-left: -0.5rem;
        }
    }
}

.btn.btn-icon-sm {
    .ti:not(.ti-icon-right) {
        margin-right: 0;
    }
}

.collection-widget {
    ul {
        list-style-type: none;

        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

textarea.form-control {
    min-height: 150px;
}

form .colorpicker-container {
    margin-bottom: 0;
}

.form-text {
    display: block;
}

.input-group > .input-group {
    z-index: 5;
}

.input-group-text {
    .link-secondary:hover,
    .link-secondary:focus {
        text-decoration: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}