.form-group {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    legend.form-label:first-child {
        padding-top: 0;
    }

    &:last-child {
        .form-check {
            margin-bottom: 0;
        }
    }
}

.btn .ti {
    font-size: 1.3rem;

    margin-top: -1px;

    &:not(.ti-icon-right) {
        margin-right: 0.25em;
    }

    &.ti-icon-right {
        margin-left: 0.25em;
    }
}

.btn.btn-icon-only {
    &:not(.dropdown-toggle) {
        .ti {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
    }

    &.dropdown-toggle {
        .ti {
            margin-left: -0.5rem;
        }
    }
}

.btn.btn-icon-sm {
    .ti:not(.ti-icon-right) {
        margin-right: 0;
    }
}

.collection-widget {
    ul {
        list-style-type: none;

        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

textarea.form-control {
    min-height: 150px;
}

.form-select-container {
    position: relative;

    background: #FFFFFF;

    &:after {
        @extend .ti;

        content: '\ea5f';
        font-size: 1.25rem;
        color: #A5A9B1;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        padding: 0.75rem;
    }

    select {
        @extend .form-select;

        background-color: transparent;
        background-image: none;

        z-index: 1;

        position: relative;
    }
}

form .colorpicker-container {
    margin-bottom: 0;
}

.form-text {
    display: block;
}