.navbar-brand {
    .navbar-brand-image {
        height: 1.6rem;
    }
}

.nav-link:not(.avatar-link),
.dropdown-item {
    .ti {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        margin-top: -2px;
    }
}

.nav-tabs {
    .nav-item {
        &.only-icon {
            .ti {
                margin-right: 0;
                line-height: 1.1;
            }

            .visible-when-active {
                margin-left: 0.5rem;
            }
        }

        .visible-when-active {
            display: none;
        }

        .nav-link.active {
            @include media-breakpoint-up(sm) {
                .visible-when-active {
                    display: block;
                }
            }
        }
    }
}

.avatar {
    .ti {
        font-size: 1.25rem;
    }

    &.avatar-sm {
        --tblr-avatar-size: 2.25rem;
    }
}