.navbar-brand {
    .navbar-brand-image {
        height: 1.6rem;
    }
}

.nav-link:not(.avatar-link),
.dropdown-item {
    .ti:not(.ti-x) {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        margin-top: -2px;
    }
}

.nav-tabs {
    .nav-item {
        &.only-icon {
            .ti {
                margin-right: 0;
                line-height: 1.1;
            }

            .visible-when-active {
                margin-left: 0.5rem;
            }
        }

        .visible-when-active {
            display: none;
        }

        .nav-link.active {
            @include media-breakpoint-up(sm) {
                .visible-when-active {
                    display: block;
                }
            }
        }
    }
}

.theme-dark {
    .card-tabs {
        .nav-tabs {
            .nav-link {
                &.active,
                &:active {
                    color: var(--tblr-nav-tabs-link-active-color);
                }
                &:hover {
                    color: var(--tblr-nav-link-hover-color);
                }
            }
        }
    }
}

.avatar {
    .ti {
        font-size: 1.25rem;
    }

    &.avatar-sm {
        --tblr-avatar-size: 2.25rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-link-title {
        display: none;
    }

    .nav-item.active {
        .nav-link-title {
            display: block;
        }
    }
}