.navbar-brand {
    .navbar-brand-image {
        height: 1.6rem;
    }
}

.nav-link:not(.avatar-link),
.dropdown-item {
    .ti {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        margin-top: -2px;
    }
}

.avatar {
    .ti {
        font-size: 1.25rem;
    }

    &.avatar-sm {
        --tblr-avatar-size: 2.25rem;
    }
}