.rule-type-button {
    padding: 1rem;
    margin-bottom: 1rem;
    white-space: normal;

    &:last-child {
        margin-bottom: 0;
    }

    &,
    * {
        text-align: left;
    }
}

.rule-type-information {
    &,
    * {
        text-align: right;
        justify-content: flex-end;
    }
}

.error-container {
    display: flex;
}

.rule-items {
    .label-row,
    ul.collection-list li {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        position: relative;

        width: 100%;
    }

    ul.collection-list li {
        .rule-item-field-container {
            margin-left: -1px;

            &:first-child {
                margin-left: 0;
            }

            .form-control {
                border-radius: 0;

                position: relative;
            }

            .form-control:focus {
                z-index: 5;
            }

            &:first-child {
                .form-control {
                    border-radius: var(--tblr-border-radius) 0 0 var(--tblr-border-radius);
                }
            }

            &:last-child {
                .form-control {
                    border-radius: 0 var(--tblr-border-radius) var(--tblr-border-radius) 0;
                }
            }
        }

        .btn.remove-item-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
    }
}

.label-row,
.rule-items .collection-list li,
.error-container {
    .rule-item-type,
    .rule-item-rating {
        flex: 0 0 15%;
    }

    .rule-item-value {
        flex: 1;
    }

    .rule-item-rating {
        .form-control {
            text-align: center;
        }
    }
}

.label-row {
    button {
        height: 1px;

        visibility: hidden;
    }
}

.rule-type-label,
.rule-package-type-label {
    display: flex;
    align-items: center;

    white-space: nowrap;

    i {
        font-size: 1.25em;
        margin-right: 0.4em;
    }
}

@media only screen and (min-width: 769px) {
    .rule-items {
        ul.collection-list li {
            .rule-item-field-container {
                label {
                    @include visually-hidden;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .rule-items {
        .label-row {
            display: none;
        }

        ul.collection-list li {
            border-bottom: 1px solid #DDDDDD;

            padding-right: 3rem;
            padding-bottom: 1rem;

            margin-bottom: 1rem;

            .rule-item-type,
            .rule-item-rating {
                flex: 0 0 50%;
            }

            .rule-item-type .form-control {
                border-radius: var(--tblr-border-radius) 0 0 var(--tblr-border-radius);
            }

            .rule-item-rating .form-control {
                border-radius: 0 var(--tblr-border-radius) var(--tblr-border-radius) 0;
            }

            .rule-item-value {
                flex: 0 0 100%;
                order: 3;

                margin-left: 0 !important;
                margin-top: 0.5rem;

                .form-control {
                    border-radius: var(--tblr-border-radius);
                }
            }

            .remove-item-button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 1rem;
            }
        }
    }
}