.card-header-with-actions {
    @media only screen and (max-width: 500px) {
        & {
            display: block;

            .card-actions {
                margin: 1rem -1.25rem -1rem;
                padding: 1.25rem;
                border-top: 1px solid #DDDDDD;
            }
        }
    }
}

.card-header-with-override-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-check {
        margin-bottom: 0;
    }
}

[data-bs-theme=dark],
body[data-bs-theme=dark] [data-bs-theme=light] {
    .card-header-with-actions {
        @media only screen and (max-width: 500px) {
            & {
                .card-actions {
                    border-top: 1px solid #243049;
                }
            }
        }
    }
}