.submission-table {
    .border-left {
        border-left: 1px solid rgba(101, 109, 119, 0.16);
    }

    .border-right {
        border-right: 1px solid rgba(101, 109, 119, 0.16);
    }

    .page-name {
        font-weight: bold;
    }

    .dtr-details {
        .border-left {
            border-left: none;
        }

        .border-right {
            border-right: none;
        }
    }

    .client-information {
        display: flex;
        flex-wrap: wrap;

        .information-part {
            line-height: var(--tblr-body-line-height);
            margin: 0.125rem;
            padding: 2px 4px;

            &.ip-address {
                order: 1;
            }

            &.ip-country {
                order: 3;
            }

            &.ip-as-number {
                order: 2;
            }

            &.ip-as-organization {
                order: 4;
            }
        }
    }
}

.submission-row {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    .submission-spam-value {
        font-weight: bold;
    }

    code {
        display: inline-block;
    }

    ul {
        margin-bottom: 0;

        li {
            margin: 0.25rem 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}