.progress-bar-container {
    min-width: 50%;
}

.modal-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;
    opacity: 0;

    background: rgba(var(--tblr-body-bg-rgb), 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    transition: opacity 0.15s linear;

    &.visible {
        display: flex;
        opacity: 1;
    }

    .loader-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.modal-status ~ .modal-loader {
    top: 2px;
}