<div class="client-information">
    {% for field in row.data.client %}
        {% if field.name == 'ipAddress' %}
            <code class="d-inline-block information-part ip-address">{{ field.value }}</code>
        {% elseif field.name == 'asNumber' and field.value != '' %}
            <span class="badge bg-purple information-part ip-as-number">{{ field.value }}</span>
        {% elseif field.name == 'asOrganization' and field.value != '' %}
            <span class="badge bg-lime information-part ip-as-organization">{{ field.value }}</span>
        {% elseif field.name == 'country' and field.value != '' %}
            <span class="badge bg-blue information-part ip-country">{{ field.value }}</span>
        {% endif %}
    {% endfor %}
</div>