{% trans_default_domain datatable.translationDomain %}

<table id="{{ datatable.name }}" class="{% if className is defined and className is not empty %}{{ className }}{% endif %} submission-table">
    <thead>
        <tr>
            {% for column in datatable.columns %}
                <th>
                    {{ column.label|trans }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
