{% if value is null %}

{% elseif value == true %}
    <span class="text-success"><strong>Yes</strong></span>
{% elseif value == false %}
    <span class="text-danger"><strong>No</strong></span>
{% endif %}