{% trans_default_domain 'mosparo' %}

<p>{{ 'The domain rule type allows to filter for domains.'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'Domain'|trans }}</strong>
        <p>{{ 'Enter a domain which is not allowed to submit a submission. If you enter a domain it will also catch all email addresses with this domain.'|trans }}</p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>example.com</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
