{% trans_default_domain 'mosparo' %}

<p>{{ 'rule.type.email.intro'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'rule.type.email.email.title'|trans }}</strong>
        <p>{{ 'rule.type.email.email.intro'|trans }}</p>
        <p>
            <u>{{ 'general.example'|trans }}:</u> <code>no-reply@example.com</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
