<p>The email rule type allows to filter for email addresses.</p>

<ul>
    <li>
        <strong>Email address</strong>
        <p>Enter an email address which is not allowed to submit a submission.</p>
        <p>
            <u>Example:</u> <code>no-reply@example.com</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
