<p>The IP address rule type allows to filter for IP addresses or subnets.</p>

<ul>
    <li>
        <strong>IP address</strong>
        <p>Enter an IP address which is not allowed to make any submissions.</p>
        <p>
            <u>Example:</u> <code>192.168.10.10</code> or <code>abcd:ef01::1</code>
        </p>
    </li>
    <li>
        <strong>Subnet</strong>
        <p>Enter a subnet with mask which is not allowed to make any submissions.</p>
        <p>
            <u>Example:</u> <code>192.168.10.0/24</code> or <code>abcd:ef01::/48</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
