{% extends 'project_related/settings/settings_base.html.twig' %}

{% block documentTitle %}Design - {{ parent() }}{% endblock %}
{% block pageTitle %}Design{% endblock %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">This functionality will be implemented before V1.0.</div>
        </div>
    </div>
{% endblock %}