{% extends 'project_related/settings/settings_base.html.twig' %}

{% block documentTitle %}Design - {{ parent() }}{% endblock %}
{% block pageTitle %}Design{% endblock %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12 col-lg-6">
        </div>
        <div class="col-12 col-lg-6">
        </div>
    </div>
{% endblock %}