{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block after_small_body %}
    <div class="text-center text-muted mt-3">
        <a href="{{ path('security_login') }}">{{ 'Back to login'|trans }}</a>
    </div>
{% endblock %}