<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block documentTitle %}Mosparo{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('mosparo') }}
        {% endblock %}
    </head>
    <body class="{% block bodyClasses %}antialised{% endblock %}">
        {% block body %}
            <div class="wrapper">
                <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-brand navbar-brand-autodark pt-lg-4">
                            <a href="/">
                                <img src="{{ asset('build/images/mosparo-logo-white.svg') }}" width="110" alt="Mosparo" class="navbar-brand-image" />
                            </a>
                        </div>

                        <div class="navbar-nav flex-row d-lg-none">
                            <div class="nav-item d-none d-md-flex me-3">
                                <div class="btn-list">
                                    <a href="https://github.com/tabler/tabler" class="btn btn-outline-white" target="_blank" rel="noreferrer">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                                        Source code
                                    </a>
                                    <a href="https://github.com/sponsors/codecalm" class="btn btn-outline-white" target="_blank" rel="noreferrer">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                                        Sponsor
                                    </a>
                                </div>
                            </div>
                            <div class="nav-item dropdown d-none d-md-flex me-3">
                                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path><path d="M9 17v1a3 3 0 0 0 6 0v-1"></path></svg>
                                    <span class="badge bg-red"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                                    <div class="card">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis et magni maxime necessitatibus ullam.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                                    <div class="d-none d-xl-block ps-2">
                                        <div>Paweł Kuna</div>
                                        <div class="mt-1 small text-muted">UI Designer</div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item">Change password</a>
                                    <a href="#" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="navbar-nav pt-lg-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-home"></i>
                                        <span class="nav-link-title">
                                            Dashboard
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-folders"></i>
                                        <span class="nav-link-title">
                                            Projects
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-notes"></i>
                                        <span class="nav-link-title">
                                            Instances
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-filter"></i>
                                        <span class="nav-link-title">
                                            Rules
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-stack"></i>
                                        <span class="nav-link-title">
                                            Rulesets
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-mail"></i>
                                        <span class="nav-link-title">
                                            Submissions
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-palette"></i>
                                        <span class="nav-link-title">
                                            Design
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-users"></i>
                                        <span class="nav-link-title">
                                            Users
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="ti ti-settings"></i>
                                        <span class="nav-link-title">
                                            Settings
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="page-wrapper">
                    {% block pageBody %}
                        {% block pageHeader %}
                            <div class="container-fluid">
                                <div class="page-header d-print-none">
                                    <div class="row align-items-center">
                                        {% block pageTitleColumn %}
                                            <div class="col">
                                                <div class="page-pretitle">
                                                    {% block pagePreTitle %}{% endblock %}
                                                </div>
                                                <h1 class="page-title">
                                                    {% block pageTitle %}{% endblock %}
                                                </h1>
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('mosparo') }}
        {% endblock %}
    </body>
</html>