{% extends 'base.html.twig' %}

{% block body %}
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4 mosparo-logo-container">
            <a href="/">
                <img src="{{ asset('build/images/mosparo-logo.svg') }}" height="44" alt="mosparo" />
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                {% block small_body %}{% endblock %}
            </div>
        </div>
        {% block after_small_body %}{% endblock %}
    </div>
</div>
{% endblock %}