{% trans_default_domain 'mosparo' %}

{% if value == 'reader' %}
    <span class="status status-green">{{ 'project.roles.reader'|trans }}</span>
{% elseif value == 'editor' %}
    <span class="status status-indigo">{{ 'project.roles.editor'|trans }}</span>
{% elseif value == 'owner' %}
    <span class="status status-purple">{{ 'project.roles.owner'|trans }}</span>
{% endif %}