{% if value == 'reader' %}
    <span class="text-muted">Reader</span>
{% elseif value == 'editor' %}
    <span class="text-indigo">Editor</span>
{% elseif value == 'owner' %}
    <span class="text-pink">Owner</span>
{% endif %}