name: Automated testing
on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: php-actions/composer@v6
        with:
          php_version: "8.1"
          php_extensions: gd intl pdo_mysql pdo_sqlite zip sodium
          memory_limit: 256M

      - uses: php-actions/phpunit@v4
        with:
          php_version: "8.1"
          php_extensions: gd intl pdo_mysql pdo_sqlite zip sodium